openapi: 3.1.0
info:
  title: WaaV Gateway API
  description: Real-time voice processing server with Speech-to-Text (STT) and Text-to-Speech (TTS) services
  contact:
    name: WaaV
    url: https://api.waav.ai
  license:
    name: Apache-2.0
    identifier: Apache-2.0
  version: 0.1.0
servers:
- url: https://api.waav.ai
  description: Production API
- url: http://localhost:3001
  description: Local development
paths:
  /:
    get:
      tags:
      - health
      summary: Back-compat health handler kept at `/`.
      description: |-
        Identical to [`livez`]; both report `{"status":"ok"}` so existing probes (and the CI smoke
        check) keep working after the liveness/readiness split.
      operationId: health_check
      responses:
        '200':
          description: Server is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /livekit/participant:
    delete:
      tags:
      - livekit
      summary: Handler for DELETE /livekit/participant endpoint
      description: |-
        Removes a participant from a LiveKit room, forcibly disconnecting them.
        The room name is normalized with the auth.id prefix for tenant isolation,
        ensuring users can only remove participants from their own rooms.

        Note: This does not invalidate the participant's token. To prevent rejoining,
        use short-lived tokens and avoid issuing new tokens to removed participants.

        # Arguments
        * `state` - Shared application state containing LiveKit configuration
        * `auth` - Authentication context from middleware
        * `request` - Request with room name and participant identity

        # Returns
        * `Response` - JSON response with removal status or error

        # Errors
        * 400 Bad Request - Empty room name or participant identity
        * 404 Not Found - Participant not found in the room
        * 500 Internal Server Error - LiveKit not configured or removal failed

        # Flow
        1. Validate request fields are not empty
        2. Normalize room name with auth.id prefix
        3. Verify participant exists in the room
        4. Remove the participant
        5. Return success or appropriate error
      operationId: remove_participant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveParticipantRequest'
        required: true
      responses:
        '200':
          description: Participant removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantResponse'
        '400':
          description: Invalid request (empty fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantErrorResponse'
        '404':
          description: Participant not found in room
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantErrorResponse'
        '500':
          description: LiveKit not configured or removal failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantErrorResponse'
      security:
      - bearer_auth: []
  /livekit/participant/mute:
    post:
      tags:
      - livekit
      summary: Handler for POST /livekit/participant/mute endpoint
      description: |-
        Mutes or unmutes a participant's published track. The room name is
        normalized with the auth.id prefix for tenant isolation.

        # Arguments
        * `state` - Shared application state containing LiveKit configuration
        * `auth` - Authentication context from middleware
        * `request` - Request with room name, participant identity, track_sid, and muted state

        # Returns
        * `Response` - JSON response with mute status or error

        # Errors
        * 400 Bad Request - Empty fields in request
        * 404 Not Found - Room or participant not found
        * 500 Internal Server Error - LiveKit not configured or mute operation failed
      operationId: mute_participant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MuteParticipantRequest'
        required: true
      responses:
        '200':
          description: Track muted/unmuted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuteParticipantResponse'
        '400':
          description: Invalid request (empty fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantErrorResponse'
        '404':
          description: Room or participant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantErrorResponse'
        '500':
          description: LiveKit not configured or mute failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveParticipantErrorResponse'
      security:
      - bearer_auth: []
  /livekit/rooms:
    get:
      tags:
      - livekit
      summary: Handler for GET /livekit/rooms endpoint
      description: |-
        Lists all LiveKit rooms belonging to the authenticated client.
        Rooms are filtered by the auth.id prefix for tenant isolation.

        # Arguments
        * `state` - Shared application state containing LiveKit configuration
        * `auth` - Authentication context from middleware

        # Returns
        * `Response` - JSON response with rooms list or error status

        # Errors
        * 500 Internal Server Error - LiveKit service not configured or API call failed
      operationId: list_rooms
      responses:
        '200':
          description: Rooms listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoomsResponse'
        '500':
          description: LiveKit service not configured or failed to list rooms
      security:
      - bearer_auth: []
  /livekit/rooms/{room_name}:
    get:
      tags:
      - livekit
      summary: Handler for GET /livekit/rooms/{room_name} endpoint
      description: |-
        Returns detailed information about a specific LiveKit room including
        all current participants. The room name is normalized with the auth.id
        prefix for tenant isolation.

        # Arguments
        * `state` - Shared application state containing LiveKit configuration
        * `auth` - Authentication context from middleware
        * `room_name` - Name of the room to retrieve (from path parameter)

        # Returns
        * `Response` - JSON response with room details or error status

        # Errors
        * 404 Not Found - Room not found or not accessible
        * 500 Internal Server Error - LiveKit service not configured or API call failed
      operationId: get_room_details
      parameters:
      - name: room_name
        in: path
        description: Name of the room to retrieve
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Room details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoomDetailsResponse'
        '404':
          description: Room not found or not accessible
        '500':
          description: LiveKit service not configured or failed to get room details
      security:
      - bearer_auth: []
  /livekit/token:
    post:
      tags:
      - livekit
      summary: Handler for POST /livekit/token endpoint
      description: |-
        Generates a LiveKit JWT token for a participant to join a specific room.

        # Arguments
        * `state` - Shared application state containing LiveKit configuration
        * `request` - Token request with room name and participant details

        # Returns
        * `Response` - JSON response with token or error status

        # Errors
        * 400 Bad Request - Invalid request data (empty fields)
        * 500 Internal Server Error - LiveKit service not configured or token generation failed
      operationId: generate_token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
        required: true
      responses:
        '200':
          description: Token generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid request (missing or empty fields)
        '500':
          description: LiveKit service not configured or token generation failed
      security:
      - bearer_auth: []
  /livez:
    get:
      tags:
      - health
      summary: Liveness handler (`/` and `/livez`).
      description: |-
        Answers only "is the process up and able to serve HTTP?". It performs NO upstream/provider
        checks so an orchestrator never restarts a healthy pod just because a provider is degraded —
        that signal belongs to `/readyz`. Returns `{"status":"ok"}`.
      operationId: livez
      responses:
        '200':
          description: Process is live
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /metrics:
    get:
      tags:
      - observability
      summary: Prometheus metrics handler (`/metrics`).
      description: |-
        Public (no auth, like the health endpoints) so a scraper can read it. Renders the
        `metrics-exporter-prometheus` text exposition: `waav_provider_requests_total`,
        `waav_provider_ttfb_ms`, `waav_provider_errors_total`, `waav_circuit_breaker_state`.
      operationId: metrics_handler
      responses:
        '200':
          description: Prometheus text exposition
          content:
            text/plain: {}
  /readyz:
    get:
      tags:
      - health
      summary: Readiness handler (`/readyz`).
      description: |-
        Answers "should this instance receive traffic right now?". Evaluates config + each enabled
        provider's credential presence + a cached TCP reachability probe. Returns `200` with the
        per-provider breakdown when ready, or `503` with the same breakdown (naming the unready
        providers) when not. This is the E13 contract: `/livez` != `/readyz`, and `/readyz` returns
        503 when an enabled provider is unreachable.
      operationId: readyz
      responses:
        '200':
          description: Instance is ready to serve
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessReport'
        '503':
          description: Instance is not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessReport'
  /recording/{stream_id}:
    get:
      tags:
      - recordings
      summary: Download recording by stream ID from configured object storage
      description: |-
        When authentication is enabled, recordings are scoped to the authenticated
        client's ID. Users can only download recordings that belong to their tenant.
        The recording path includes auth_id prefix: `{prefix}/{auth_id}/{stream_id}/audio.ogg`
      operationId: download_recording
      parameters:
      - name: stream_id
        in: path
        description: Recording stream identifier
        required: true
        schema:
          type: string
        example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Recording retrieved successfully
          headers:
            Content-Disposition:
              schema:
                type: string
              description: Suggested filename for download
            Content-Length:
              schema:
                type: integer
                format: int64
                minimum: 0
              description: Size of the recording in bytes
          content:
            audio/ogg: {}
        '400':
          description: Invalid stream_id format
        '404':
          description: Recording not found
        '503':
          description: Recording storage not configured or unavailable
      security:
      - bearer_auth: []
  /sip/hooks:
    get:
      tags:
      - sip
      summary: Lists all configured SIP hooks.
      description: |-
        Returns the current list of SIP hooks from runtime state.
        This endpoint requires authentication if `AUTH_REQUIRED=true`.

        # Returns
        * `200 OK` - List of SIP hooks
        * `500 Internal Server Error` - If reading the cache fails
      operationId: list_sip_hooks
      responses:
        '200':
          description: List of SIP hooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksResponse'
        '500':
          description: Failed to read hooks cache
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
    post:
      tags:
      - sip
      summary: Updates SIP hooks.
      description: |-
        Adds or replaces SIP hooks in the cache. Hooks with matching hosts
        (case-insensitive) will be replaced. Hosts defined in the application
        configuration cannot be modified. The changes take effect immediately
        and persist across server restarts.

        **Note**: Secrets are NOT stored in the cache. Runtime-added hooks will
        use the global `hook_secret` from the server configuration.

        # Request Body
        Array of hook entries with `host` and `url` fields.

        # Returns
        * `200 OK` - Updated list of SIP hooks
        * `400 Bad Request` - If validation fails (e.g., duplicate hosts)
        * `500 Internal Server Error` - If writing the cache fails
      operationId: update_sip_hooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SipHooksRequest'
        required: true
      responses:
        '200':
          description: Updated list of SIP hooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
        '405':
          description: Host defined in application config cannot be modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
        '500':
          description: Failed to write hooks cache
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
    delete:
      tags:
      - sip
      summary: Deletes SIP hooks by host name.
      description: |-
        Removes the specified hosts from the cache. Hosts defined in the application
        configuration cannot be removed. If a host exists in the original server
        configuration, it will revert to its config value after deletion of a
        cached override. Hosts that only exist in cache will be completely removed.

        The changes take effect immediately and persist across server restarts.

        # Request Body
        Array of host names to remove (case-insensitive).

        # Returns
        * `200 OK` - Updated list of SIP hooks after deletion
        * `400 Bad Request` - If the hosts array is empty
        * `500 Internal Server Error` - If writing the cache fails
      operationId: delete_sip_hooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSipHooksRequest'
        required: true
      responses:
        '200':
          description: Updated list of SIP hooks after deletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
        '405':
          description: Host defined in application config cannot be modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
        '500':
          description: Failed to write hooks cache
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipHooksErrorResponse'
  /sip/transfer:
    post:
      tags:
      - sip
      summary: Handler for POST /sip/transfer endpoint
      description: |-
        Initiates a SIP REFER transfer for a participant in a LiveKit room.
        The transfer moves an ongoing SIP call to a different phone number.

        # Arguments
        * `state` - Shared application state containing LiveKit handlers
        * `request` - Transfer request with room name, participant identity, and destination

        # Returns
        * `Response` - JSON response with transfer status or error

        # Errors
        * 400 Bad Request - Invalid phone number format or empty fields
        * 404 Not Found - Specified participant not found or not a SIP participant
        * 500 Internal Server Error - LiveKit not configured or transfer operation failed

        # Flow
        1. Validate the phone number format
        2. Check LiveKit handlers are configured
        3. Verify the participant exists and is a SIP participant
        4. Execute the SIP transfer
        5. Return success or appropriate error
      operationId: sip_transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SIPTransferRequest'
        required: true
      responses:
        '200':
          description: Transfer initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIPTransferResponse'
        '400':
          description: Invalid request (bad phone number or empty fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIPTransferErrorResponse'
        '404':
          description: Participant not found or not a SIP participant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIPTransferErrorResponse'
        '500':
          description: LiveKit not configured or transfer failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SIPTransferErrorResponse'
      security:
      - bearer_auth: []
  /speak:
    post:
      tags:
      - tts
      summary: Handler for the /speak endpoint
      operationId: speak_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeakRequest'
        required: true
      responses:
        '200':
          description: Audio generated successfully
          headers:
            x-audio-format:
              schema:
                type: string
              description: Audio format (linear16, mp3, etc.)
            x-sample-rate:
              schema:
                type: integer
                format: int32
                minimum: 0
              description: Sample rate in Hz
          content:
            audio/pcm: {}
        '400':
          description: Invalid request (empty text)
        '500':
          description: TTS synthesis failed
      security:
      - bearer_auth: []
  /voices:
    get:
      tags:
      - voices
      summary: Handler for GET /voices - returns available voices per provider
      operationId: list_voices
      responses:
        '200':
          description: Available voices grouped by provider
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/Voice'
                propertyNames:
                  type: string
        '500':
          description: Internal server error
      security:
      - bearer_auth: []
components:
  schemas:
    ConversationWebSocketConfig:
      type: object
      description: |-
        Conversation-loop configuration for WebSocket messages (plan W-O2).

        When present on a `config` message, the gateway wires up a built-in
        automatic conversation loop: each finalized STT turn is sent to an
        OpenAI-compatible LLM and the reply is streamed to TTS, with per-session
        history and barge-in. When absent, the gateway keeps its raw STT/TTS
        behavior (fully backward-compatible).
      required:
      - base_url
      - model
      properties:
        allow_interruption:
          type: boolean
          description: Whether the bot's speech is interruptible / barge-in (default true).
        api_key:
          type:
          - string
          - 'null'
          description: API key (literal or `${ENV_VAR}`); falls back to `OPENAI_API_KEY`.
        barge_in_min_words:
          type:
          - integer
          - 'null'
          description: |-
            MinWords barge-in gate (A-G3): while the bot is audibly speaking,
            require ≥ N words to interrupt it (a single word suffices when the
            bot is silent). Omitted/0 = legacy any-speech barge-in; values < 2
            are clamped to 2.
          minimum: 0
        base_url:
          type: string
          description: OpenAI-compatible base URL for the LLM (e.g. `https://api.openai.com/v1`).
          example: https://api.openai.com/v1
        degradation_message:
          type:
          - string
          - 'null'
          description: |-
            P1: the spoken line used when EVERY LLM tier fails — a graceful apology
            instead of dead air. Omit for the built-in default.
        eager_eot:
          type: boolean
          description: |-
            Eager end-of-turn (P1.2b): start the LLM speculatively on a
            turn-complete prediction, confirm/cancel on the provider final.
            Opt-in — raises LLM call volume on resumed turns (default false).
        latency_filler:
          $ref: '#/components/schemas/LatencyFiller'
          description: |-
            D3 (REALTIME_REASONING.md §4.3): latency-masking mode —
            `off | auto | aggressive`. `auto` (default) speaks ONE short action phrase
            when first audio is slow (reasoning/RAG/tool), keeping the line alive while
            the real answer streams in behind it — at most one masking utterance per
            turn, codec- & language-correct, interruptible by barge-in.
        latency_filler_after_ms:
          type:
          - integer
          - 'null'
          format: int64
          description: |-
            D3: override the masking wait threshold in ms (mode default otherwise:
            auto ~800, aggressive ~400). Keep well under the ~2s "feels broken" line.
          example: 800
          minimum: 0
        latency_filler_phrases:
          type: array
          items:
            type: string
          description: |-
            D3: custom masking phrases (action wording, e.g. "Let me check that order").
            Empty = the built-in pool. Pre-rendered at session start at the call's rate.
        max_history:
          type: integer
          description: Max retained history messages (default 20).
          minimum: 0
        max_llm_calls_per_turn:
          type:
          - integer
          - 'null'
          format: int32
          description: |-
            P2: per-turn ceiling on LLM re-inference rounds (the tool-call loop — the
            dominant spend multiplier on a billing gateway). Omit for the safe default
            (8).
          example: 8
          minimum: 0
        max_reasoning_tokens:
          type:
          - integer
          - 'null'
          format: int32
          description: |-
            P2: hard ceiling on the reasoning tier's output tokens (thinking + answer)
            — the most direct cost lever for reasoning models. Clamps the reasoning
            tier's `max_tokens`; the fast tier is unaffected. Omit for no extra clamp.
          example: 2048
          minimum: 0
        max_tokens:
          type:
          - integer
          - 'null'
          format: int32
          description: Max tokens per completion.
          minimum: 0
        model:
          type: string
          description: Model identifier.
          example: gpt-4o-mini
        mute_strategy:
          type:
          - string
          - 'null'
          description: |-
            User-mute strategy (A-G5): while active, USER INPUT is suppressed
            (bot/lifecycle signals always flow).
            `"always_while_bot_speaks"` = no barge-in at all;
            `"until_first_bot_complete"` = greeting/disclaimer guard;
            `"first_speech_only"` = only the first user utterance passes.
            Omitted = no muting (barge-in works normally).
          example: until_first_bot_complete
        provider_kind:
          type:
          - string
          - 'null'
          description: |-
            LLM vendor wire format (B-G1): `"openai"` (default) | `"anthropic"` |
            `"gemini"`. Omitted = OpenAI-compatible, with canonical-host inference.
          example: anthropic
        reasoning_api_key:
          type:
          - string
          - 'null'
          description: 'S1/S2: reasoning-tier API key (literal or `${ENV_VAR}`; defaults to `api_key`).'
        reasoning_base_url:
          type:
          - string
          - 'null'
          description: |-
            S1/S2: reasoning-tier base URL (defaults to `base_url` — one endpoint can
            serve both a fast and a reasoning model).
        reasoning_budget_ms:
          type:
          - integer
          - 'null'
          format: int64
          description: |-
            P1: reasoning-tier first-audio budget (ms). If the reasoner streams no
            audio within this window, the turn degrades to the fast tier rather than
            leaving the caller in silence. Omit for the safe default (15000); `0`
            disables the budget. Ignored without a `reasoning_model`.
          example: 15000
          minimum: 0
        reasoning_effort:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ReasoningEffort'
            description: |-
              D1 (REALTIME_REASONING.md §4.1): reasoning/thinking-effort dial —
              `off | minimal | low | medium | high`. One typed knob, mapped to each
              vendor's native thinking control and clamped to the model's floor (an
              adaptive-only model can't go below its floor; the applied/floor values
              are echoed back in the config-ack). Omitted = vendor default. Keep a
              FAST, non-reasoning model on the spoken path for realtime latency.
        reasoning_model:
          type:
          - string
          - 'null'
          description: |-
            S1/S2 (REALTIME_REASONING.md §5): optional slow REASONING tier. Set this
            to a smart-but-slow model (e.g. `o3`, `deepseek-r1`) and keep `model` a
            FAST model — complex turns escalate to the reasoning tier (sharing the
            conversation history) while the fast model handles the rest and the D3
            filler masks the latency. Omitted = single-tier. The ONE field that turns
            two-tier on.
          example: o3
        reasoning_provider_kind:
          type:
          - string
          - 'null'
          description: 'S1/S2: reasoning-tier vendor wire format (defaults to `provider_kind`).'
          example: openai
        reasoning_route:
          $ref: '#/components/schemas/RoutingMode'
          description: |-
            S2: route turns between tiers — `auto` (default; a heuristic escalates only
            complex turns) or `always` (every turn uses the reasoning tier).
        streaming:
          type: boolean
          description: Stream tokens to TTS as they arrive (default true).
        strip_markdown:
          type: boolean
          description: |-
            Strip markdown (bold/code/links/headings) from LLM sentences before
            TTS (C-G4). Default true — spoken asterisks and URLs ruin voice
            output.
        summarize_target_tokens:
          type: integer
          description: |-
            Token-aware context compaction (B-G6): when the session context's
            estimated tokens cross this value, older messages are summarized
            after the turn (system + recent turns kept verbatim). Omitted/0 =
            off.
          example: 6000
          minimum: 0
        system_prompt:
          type:
          - string
          - 'null'
          description: Optional system prompt seeding the conversation.
        temperature:
          type:
          - number
          - 'null'
          format: float
          description: Sampling temperature.
        user_idle_timeout_ms:
          type: integer
          format: int64
          description: |-
            Idle re-engagement (A-G7): after this many ms of silence (no user
            speech, no bot turn, bot not speaking), the bot gently checks in.
            Omitted/0 = off.
          example: 15000
          minimum: 0
    DAGWebSocketConfig:
      type: object
      description: |-
        DAG configuration for WebSocket messages

        Allows clients to specify a DAG pipeline for audio processing.
        The DAG can be specified either by template name or inline definition.
      properties:
        definition:
          description: Inline DAG definition (takes precedence over template)
        enable_metrics:
          type: boolean
          description: Enable DAG metrics collection
        template:
          type:
          - string
          - 'null'
          description: Name of a pre-registered DAG template to use
          example: voice-assistant
        timeout_ms:
          type:
          - integer
          - 'null'
          format: int64
          description: Maximum execution timeout in milliseconds
          example: 30000
          minimum: 0
    DeleteSipHooksRequest:
      type: object
      description: |-
        Request body for deleting SIP hooks.

        Contains a list of host names to remove from the SIP hooks cache.
      properties:
        hosts:
          type: array
          items:
            type: string
          description: |-
            List of host names to remove (case-insensitive).
            Hosts that exist in the original config will revert to their config values.
          example:
          - example.com
          - other.com
    DeliveryStyle:
      type: string
      description: |-
        Delivery style modifiers for speech synthesis.

        These styles can be combined with emotions to further customize
        how the speech is delivered. They affect pacing, volume, and
        prosodic patterns.

        # Example

        ```rust
        use waav_gateway::core::emotion::DeliveryStyle;

        let style = DeliveryStyle::Whispered;
        assert_eq!(style.to_string(), "whispered");
        ```
      enum:
      - normal
      - whispered
      - shouted
      - rushed
      - measured
      - monotone
      - expressive
      - professional
      - casual
      - storytelling
      - soft
      - loud
      - cheerful
      - serious
      - formal
    Emotion:
      type: string
      description: |-
        Standardized emotions supported across TTS providers.

        These emotions represent common emotional states that can be expressed
        through speech synthesis. Different providers support different subsets
        of these emotions, and the emotion mapper handles the translation.

        # Provider Support Matrix

        | Emotion | Hume | ElevenLabs | Azure | OpenAI |
        |---------|------|------------|-------|--------|
        | Neutral | Yes  | Yes (default) | Yes | Yes |
        | Happy   | Yes  | Yes (low stability) | Yes (cheerful) | Yes |
        | Sad     | Yes  | Yes (high stability) | Yes | Yes |
        | Angry   | Yes  | Yes (low stability) | Yes | Yes |
        | Fearful | Yes  | Partial | Yes (terrified) | Partial |
        | Surprised | Yes | Partial | Yes | Partial |
        | Excited | Yes | Yes | Yes (excited) | Yes |
        | Calm    | Yes | Yes (high stability) | Yes (calm) | Yes |
        | Sarcastic | Yes | Partial | Partial | Yes |

        # Example

        ```rust
        use waav_gateway::core::emotion::Emotion;

        let emotion = Emotion::Happy;
        assert_eq!(emotion.to_string(), "happy");
        assert!(emotion.is_widely_supported());
        ```
      enum:
      - neutral
      - happy
      - sad
      - angry
      - fearful
      - surprised
      - disgusted
      - excited
      - calm
      - anxious
      - confident
      - confused
      - empathetic
      - sarcastic
      - hopeful
      - disappointed
      - curious
      - grateful
      - proud
      - embarrassed
      - content
      - bored
    EmotionConfig:
      type: object
      description: |-
        User-facing emotion configuration for TTS requests.

        This configuration specifies the desired emotional expression
        and delivery style for speech synthesis. It gets mapped to
        provider-specific formats by the emotion mapper.

        # Example

        ```rust
        use waav_gateway::core::emotion::{EmotionConfig, Emotion, DeliveryStyle, EmotionIntensity};

        let config = EmotionConfig {
            emotion: Some(Emotion::Happy),
            intensity: Some(EmotionIntensity::from_f32(0.8)),
            style: Some(DeliveryStyle::Expressive),
            description: None,
            context: Some("Customer support greeting".to_string()),
        };
        ```
      properties:
        context:
          type:
          - string
          - 'null'
          description: |-
            Speaking context hint for better inference.

            Examples: "customer support", "news broadcast", "bedtime story"
          example: customer support greeting
        description:
          type:
          - string
          - 'null'
          description: |-
            Free-form description for providers that support it (e.g., Hume).

            This takes precedence over `emotion` for Hume AI, allowing
            natural language instructions like "warm, friendly, inviting".
            Maximum 100 characters.
          example: warm, friendly, inviting
        emotion:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Emotion'
            description: |-
              Primary emotion to express.

              If `None`, the provider's default emotional expression is used.
        intensity:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/EmotionIntensity'
            description: |-
              Intensity of the emotion (0.0 to 1.0, or named level).

              Higher values mean more expressive delivery.
        style:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/DeliveryStyle'
            description: |-
              Delivery style modifier.

              Combines with emotion to affect pacing and prosody.
    EmotionIntensity:
      oneOf:
      - type: number
        format: float
        description: Numeric intensity (0.0 to 1.0)
      - $ref: '#/components/schemas/IntensityLevel'
        description: Named intensity level
      description: |-
        Unified emotion intensity that supports both numeric and named levels.

        This allows users to specify intensity either as a numeric value (0.0-1.0)
        or as a named level (low, medium, high) for convenience.

        # Example

        ```rust
        use waav_gateway::core::emotion::{EmotionIntensity, IntensityLevel};

        // Numeric intensity
        let intensity = EmotionIntensity::Numeric(0.8);
        assert_eq!(intensity.as_f32(), 0.8);

        // Named intensity
        let intensity = EmotionIntensity::Named(IntensityLevel::High);
        assert_eq!(intensity.as_f32(), 1.0);
        ```
    HealthResponse:
      type: object
      description: Health/liveness response.
      required:
      - status
      properties:
        status:
          type: string
          description: Process status. `"ok"` when the process is up and serving.
          example: ok
    IncomingMessage:
      oneOf:
      - type: object
        required:
        - type
        properties:
          audio:
            type:
            - boolean
            - 'null'
            description: Enable audio processing (STT/TTS). Defaults to true if not specified.
          audio_disabled:
            type:
            - boolean
            - 'null'
            description: |-
              DEPRECATED: Use `audio: false` instead. This field is for backward compatibility.
              When `audio_disabled: true` is sent, it's equivalent to `audio: false`.
              If both fields are present, `audio` takes precedence.
          conversation_config:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ConversationWebSocketConfig'
              description: |-
                Optional built-in conversation-loop configuration (plan W-O2).
                When present, finalized STT turns drive an LLM→TTS reply with
                per-session history and barge-in. When absent, raw STT/TTS behavior
                is unchanged.
          dag_config:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/DAGWebSocketConfig'
              description: |-
                Optional DAG routing configuration for custom audio pipelines
                When configured, audio flows through the DAG instead of direct STT→TTS
          livekit:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LiveKitWebSocketConfig'
              description: Optional LiveKit configuration for real-time audio streaming
          stream_id:
            type:
            - string
            - 'null'
            description: |-
              Optional unique identifier for this WebSocket session.
              Used for recording paths and session tracking.
              If not provided, a UUID v4 will be auto-generated by the server.
            example: 550e8400-e29b-41d4-a716-446655440000
          stt_config:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/STTWebSocketConfig'
              description: STT configuration (required only when audio=true)
          tts_config:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/TTSWebSocketConfig'
              description: TTS configuration (required only when audio=true)
          type:
            type: string
            enum:
            - config
      - type: object
        required:
        - text
        - type
        properties:
          allow_interruption:
            type:
            - boolean
            - 'null'
            description: Allow this TTS to be interrupted
          flush:
            type:
            - boolean
            - 'null'
            description: Flush TTS buffer immediately
          text:
            type: string
            description: Text to synthesize
          type:
            type: string
            enum:
            - speak
      - type: object
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - clear
      - type: object
        required:
        - message
        - role
        - type
        properties:
          debug:
            description: Optional debug metadata
          message:
            type: string
            description: Message content
          role:
            type: string
            description: Message role (e.g., "user", "assistant")
          topic:
            type:
            - string
            - 'null'
            description: Optional topic/channel
          type:
            type: string
            enum:
            - send_message
      - type: object
        description: |-
          Transfer the current SIP call to another phone number.

          This command initiates a SIP REFER transfer for the current participant
          in the LiveKit room. The participant identity and room name are derived
          from the WebSocket connection state.
        required:
        - transfer_to
        - type
        properties:
          transfer_to:
            type: string
            description: |-
              The destination phone number to transfer the call to.

              Accepts phone numbers in various formats:
              - International format with `+` prefix (e.g., "+1234567890")
              - National format without prefix (e.g., "1234567890")
              - Internal extensions (e.g., "1234")

              Validation is performed by the handler, not during deserialization.
            example: '+1234567890'
          type:
            type: string
            enum:
            - sip_transfer
      - type: object
        description: |-
          Browser-friendly authentication message.

          This message type allows browser clients to authenticate after the WebSocket
          connection is established, since browsers cannot set custom headers during
          the WebSocket handshake. This must be the first message sent when using
          first-message authentication.

          # Authentication Flow
          1. Client connects to `/ws` without Authorization header or query token
          2. Server accepts connection with pending auth state
          3. Client sends `{"type": "auth", "token": "<bearer_token>"}` as first message
          4. Server validates token and either:
             - Sends `{"type": "authenticated"}` on success
             - Closes connection with 4001 code on failure

          # Example
          ```json
          {"type": "auth", "token": "sk_test_my_api_key"}
          ```
        required:
        - token
        - type
        properties:
          token:
            type: string
            description: |-
              Bearer token for authentication.
              This should be the same token format as used in the Authorization header.
            example: sk_test_my_api_key_123456
          type:
            type: string
            enum:
            - auth
      - type: object
        description: |-
          Custom message type for plugin-defined message handlers.

          This variant allows plugins to define and handle their own message types
          without modifying the core gateway code. Plugins register handlers for
          specific message types, and the gateway routes messages accordingly.

          # Example
          ```json
          {"type": "custom", "message_type": "my_plugin_action", "payload": {"key": "value"}}
          ```
        required:
        - message_type
        - payload
        - type
        properties:
          message_type:
            type: string
            description: |-
              The plugin-defined message type identifier.
              This is used to look up the appropriate handler in the plugin registry.
            example: analytics_event
          payload:
            type: object
            description: |-
              The message payload as arbitrary JSON.
              The plugin handler is responsible for parsing and validating this.
          type:
            type: string
            enum:
            - custom
      - type: object
        description: |-
          Signal end of audio input stream.

          This message tells the STT provider that audio transmission is complete
          and it should finalize any pending transcripts. This is important for
          getting `speech_final=true` from providers like Deepgram that need
          an explicit stream closure signal.

          # Behavior
          1. Sends CloseStream message to STT provider
          2. Waits briefly for final results
          3. Provider sends final transcript with `speech_final=true`

          # Example
          ```json
          {"type": "audio_end"}
          ```
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - audio_end
      description: WebSocket message types for incoming messages
    IntensityLevel:
      type: string
      description: |-
        Named intensity levels for emotion expression.

        These map to numeric values for providers that support intensity:
        - Low: 0.3
        - Medium: 0.6
        - High: 1.0

        Providers can also accept raw numeric intensity (0.0 to 1.0).
      enum:
      - low
      - medium
      - high
    LatencyFiller:
      type: string
      description: |-
        D3 (REALTIME_REASONING.md §4.3): the unified latency-masking mode. ONE knob
        covering the action-preamble + pre-rendered gap-filler, deduped to at most one
        masking utterance per turn.
      enum:
      - off
      - auto
      - aggressive
    ListRoomsResponse:
      type: object
      description: |-
        Response containing the list of LiveKit rooms

        # Example
        ```json
        {
          "rooms": [
            {
              "name": "project1_room-1",
              "num_participants": 2,
              "creation_time": 1703123456
            },
            {
              "name": "project1_room-2",
              "num_participants": 0,
              "creation_time": 1703123789
            }
          ]
        }
        ```
      required:
      - rooms
      properties:
        rooms:
          type: array
          items:
            $ref: '#/components/schemas/RoomInfo'
          description: List of rooms belonging to the authenticated client
    LiveKitWebSocketConfig:
      type: object
      description: LiveKit configuration for WebSocket messages
      required:
      - room_name
      properties:
        enable_recording:
          type: boolean
          description: Enable recording for this session
        listen_participants:
          type: array
          items:
            type: string
          description: |-
            List of participant identities to listen to for audio tracks and data messages. (All participants by default)

            **Behavior**:
            - If **empty** (default): Audio tracks and data messages from **all participants** will be processed
            - If **populated**: Only audio tracks and data messages from participants whose identities
              are in this list will be processed; others will be ignored
        room_name:
          type: string
          description: Room name to join or create
          example: conversation-room-123
        waav_participant_identity:
          type:
          - string
          - 'null'
          description: WaaV AI participant identity (defaults to "waav-ai")
          example: waav-ai
        waav_participant_name:
          type:
          - string
          - 'null'
          description: WaaV AI participant display name (defaults to "WaaV AI")
          example: WaaV AI
    MuteParticipantRequest:
      type: object
      description: |-
        Request body for muting/unmuting a participant's track

        # Example
        ```json
        {
          "room_name": "conversation-room-123",
          "participant_identity": "user-alice-456",
          "track_sid": "TR_abc123",
          "muted": true
        }
        ```
      required:
      - room_name
      - participant_identity
      - track_sid
      - muted
      properties:
        muted:
          type: boolean
          description: True to mute, false to unmute
          example: true
        participant_identity:
          type: string
          description: The identity of the participant whose track to mute
          example: user-alice-456
        room_name:
          type: string
          description: The LiveKit room name where the participant is connected
          example: conversation-room-123
        track_sid:
          type: string
          description: The session ID of the track to mute/unmute
          example: TR_abc123
    MuteParticipantResponse:
      type: object
      description: |-
        Response for a successful mute/unmute operation

        # Example
        ```json
        {
          "room_name": "project1_conversation-room-123",
          "participant_identity": "user-alice-456",
          "track_sid": "TR_abc123",
          "muted": true
        }
        ```
      required:
      - room_name
      - participant_identity
      - track_sid
      - muted
      properties:
        muted:
          type: boolean
          description: Current muted state
          example: true
        participant_identity:
          type: string
          description: The identity of the participant
          example: user-alice-456
        room_name:
          type: string
          description: The normalized room name (with tenant prefix)
          example: project1_conversation-room-123
        track_sid:
          type: string
          description: The session ID of the track
          example: TR_abc123
    OutgoingMessage:
      oneOf:
      - type: object
        required:
        - protocol_version
        - stream_id
        - type
        properties:
          livekit_room_name:
            type:
            - string
            - 'null'
            description: Optional LiveKit room name that was created
          livekit_url:
            type:
            - string
            - 'null'
            description: Optional LiveKit URL to connect to
          protocol_version:
            type: string
            description: |-
              WebSocket wire-protocol version (see [`PROTOCOL_VERSION`]). SDKs assert this on
              connect so a breaking change to the message contract surfaces as an explicit
              version mismatch instead of silent field drift (plan W-K1 / exit E9). Always set
              to [`PROTOCOL_VERSION`] by the gateway at construction.
            example: '1.0'
          stream_id:
            type: string
            description: |-
              Unique identifier for this WebSocket session.
              Either provided by the client in config or auto-generated by server (UUID v4).
            example: 550e8400-e29b-41d4-a716-446655440000
          type:
            type: string
            enum:
            - ready
          waav_participant_identity:
            type:
            - string
            - 'null'
            description: Optional identity of the AI agent participant in the room
          waav_participant_name:
            type:
            - string
            - 'null'
            description: Optional display name of the AI agent participant
      - type: object
        required:
        - transcript
        - is_final
        - is_speech_final
        - confidence
        - type
        properties:
          confidence:
            type: number
            format: float
            description: Confidence score (0.0 to 1.0)
          is_final:
            type: boolean
            description: Whether this is the final version of the transcript
          is_speech_final:
            type: boolean
            description: Whether speech has ended
          segment_transcript:
            type:
            - string
            - 'null'
            description: |-
              The FULL accumulated segment text, present only on a
              `speech_final` whose segment spans multiple finals (or a
              forced/timer fire, where `transcript` stays empty for
              fragment-concatenating clients). Clients that DISPLAY per-final
              text should prefer this when present (review wf_85659e16 — the
              segment truth was previously not exposed on the wire at all).
          transcript:
            type: string
            description: Transcribed text
          type:
            type: string
            enum:
            - stt_result
      - type: object
        required:
        - message
        - type
        properties:
          message:
            $ref: '#/components/schemas/UnifiedMessage'
            description: Unified message structure containing text/data from various sources
          type:
            type: string
            enum:
            - message
      - type: object
        required:
        - participant
        - type
        properties:
          participant:
            $ref: '#/components/schemas/ParticipantDisconnectedInfo'
            description: Information about the participant who disconnected
          type:
            type: string
            enum:
            - participant_disconnected
      - type: object
        description: TTS playback completion notification
        required:
        - timestamp
        - type
        properties:
          timestamp:
            type: integer
            format: int64
            description: Timestamp when completion occurred (milliseconds since epoch)
            minimum: 0
          type:
            type: string
            enum:
            - tts_playback_complete
      - type: object
        required:
        - message
        - type
        properties:
          message:
            type: string
            description: Error message
          type:
            type: string
            enum:
            - error
      - type: object
        description: |-
          Non-fatal configuration advisory (D1 / REALTIME_REASONING.md §7.4).

          Sent at config time when a setting is sub-optimal but the session still
          starts — e.g. a reasoning model placed on the spoken path (high TTFT),
          or a `reasoning_effort` clamped up to an adaptive-only model's floor. The
          SDK can surface this to the developer; it never closes the session.
        required:
        - code
        - message
        - type
        properties:
          code:
            type: string
            description: |-
              Stable machine code, e.g. `reasoning_model_on_voice_path`,
              `reasoning_effort_clamped`.
            example: reasoning_model_on_voice_path
          detail:
            description: Optional structured detail (applied/floor effort, measured TTFT, …).
          message:
            type: string
            description: Human-readable explanation + the one-line fix.
          type:
            type: string
            enum:
            - config_warning
      - type: object
        description: |-
          SIP transfer specific error

          This message is sent when a SIP transfer operation fails.
          Clients can subscribe to this specific error type to handle
          SIP transfer failures separately from other errors.
        required:
        - message
        - type
        properties:
          message:
            type: string
            description: Error message describing why the transfer failed
          type:
            type: string
            enum:
            - sip_transfer_error
      - type: object
        description: |-
          Authentication success response

          Sent after successful first-message authentication to confirm
          the client is now authenticated and can proceed with other commands.
        required:
        - type
        properties:
          id:
            type:
            - string
            - 'null'
            description: The authenticated identity (API key ID or user ID from JWT)
          type:
            type: string
            enum:
            - authenticated
      - type: object
        description: |-
          Authentication required notification

          Sent immediately after connection when authentication is required
          but no token was provided via header or query parameter.
          Client must send an `auth` message before any other commands.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - auth_required
      - type: object
        description: |-
          Plugin response message

          Generic response from a plugin handler for custom messages.
          Contains the message type for client routing and arbitrary JSON payload.
        required:
        - message_type
        - payload
        - type
        properties:
          message_type:
            type: string
            description: The message type this is a response to
          payload:
            description: Response payload from the plugin
          type:
            type: string
            enum:
            - plugin_response
      description: WebSocket message types for outgoing messages
    ParticipantDisconnectedInfo:
      type: object
      description: Participant disconnection information
      required:
      - identity
      - room
      - timestamp
      properties:
        identity:
          type: string
          description: Participant's unique identity
        name:
          type:
          - string
          - 'null'
          description: Participant's display name (if available)
        room:
          type: string
          description: Room identifier
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the disconnection occurred
          minimum: 0
    ParticipantInfo:
      type: object
      description: |-
        Detailed information about a participant in a LiveKit room

        # Example
        ```json
        {
          "sid": "PA_abc123",
          "identity": "user-alice-456",
          "name": "Alice Smith",
          "state": "ACTIVE",
          "kind": "STANDARD",
          "joined_at": 1703123456,
          "metadata": "{\"role\": \"host\"}",
          "attributes": {}
        }
        ```
      required:
      - sid
      - identity
      - name
      - state
      - kind
      - joined_at
      - metadata
      - attributes
      - is_publisher
      properties:
        attributes:
          type: object
          description: User-specified attributes for the participant
          additionalProperties:
            type: string
          propertyNames:
            type: string
        identity:
          type: string
          description: Unique identifier provided when connecting
          example: user-alice-456
        is_publisher:
          type: boolean
          description: Whether the participant is currently publishing audio/video
          example: true
        joined_at:
          type: integer
          format: int64
          description: Timestamp when participant joined (Unix timestamp in seconds)
          example: 1703123456
        kind:
          type: string
          description: 'Participant kind: STANDARD, AGENT, SIP, EGRESS, or INGRESS'
          example: STANDARD
        metadata:
          type: string
          description: User-specified metadata for the participant
          example:
            role: host
        name:
          type: string
          description: Display name of the participant
          example: Alice Smith
        sid:
          type: string
          description: Unique session ID for this participant (generated by LiveKit)
          example: PA_abc123
        state:
          type: string
          description: 'Participant state: JOINING, JOINED, ACTIVE, or DISCONNECTED'
          example: ACTIVE
    Pronunciation:
      type: object
      description: Pronunciation replacement configuration
      required:
      - word
      - pronunciation
      properties:
        pronunciation:
          type: string
          description: Pronunciation to use instead
          example: A P I
        word:
          type: string
          description: Word to replace
          example: API
    ProviderExtras:
      type: object
      description: Open provider-specific passthrough (string→JSON value map). Keys not modeled by the typed feature vocabulary are forwarded verbatim.
      additionalProperties: true
    ProviderReadiness:
      type: object
      description: Per-provider readiness detail in the `/readyz` JSON breakdown.
      required:
      - provider
      - credential_present
      - ready
      properties:
        credential_present:
          type: boolean
          description: Whether a non-empty credential is configured for this provider.
        detail:
          type:
          - string
          - 'null'
          description: Human-readable reason when `ready == false`.
        provider:
          type: string
          description: Provider name (e.g. `deepgram`).
        reachable:
          type:
          - boolean
          - 'null'
          description: |-
            TCP reachability of the provider endpoint: `Some(true/false)` if probed, `None` if the
            host could not be resolved/derived (treated as not-ready).
        ready:
          type: boolean
          description: Whether this provider is fully ready (credential present AND reachable).
    ReadinessReport:
      type: object
      description: The aggregate `/readyz` report.
      required:
      - status
      - config_loaded
      - providers
      properties:
        config_loaded:
          type: boolean
          description: Whether configuration is loaded (always true once `AppState` exists).
        providers:
          type: array
          items:
            $ref: '#/components/schemas/ProviderReadiness'
          description: Per-provider breakdown.
        status:
          type: string
          description: '`"ready"` when every enabled provider is ready, else `"not_ready"`.'
    ReasoningEffort:
      type: string
      description: |-
        D1 (REALTIME_REASONING.md §4.1): the reasoning/thinking-effort dial — ONE
        typed knob the adapter maps to each vendor's native control, clamped to the
        model's floor. `Off` *minimizes* thinking; it is not always literally zero,
        because some 2026 models are adaptive-thinking-only and have a floor — the
        resolved value is echoed back to the client so the floor is observable.

        Cascade (Chat-Completions) wire forms, AT MOST ONE param per vendor. `Off`/
        `None` emit NOTHING on every vendor: a non-reasoning model 400s on any
        thinking param (live-verified against ollama "does not support thinking"),
        so the safe floor is to send no param at all rather than an explicit zero.
        - OpenAI: flat string `reasoning_effort` (`Off`→omit);
        - Anthropic: `thinking { type:"enabled", budget_tokens }` (`Off`→omit;
          adaptive-only models that reject the param also omit);
        - Gemini: `generationConfig.thinkingConfig.thinkingBudget` (`Off`→omit) —
          never paired with `thinkingLevel` (that 400s).
      enum:
      - off
      - minimal
      - low
      - medium
      - high
    RemoveParticipantErrorResponse:
      type: object
      description: |-
        Error response for participant removal failures

        # Example
        ```json
        {
          "error": "Participant 'user-123' not found in room",
          "code": "PARTICIPANT_NOT_FOUND"
        }
        ```
      required:
      - error
      - code
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: PARTICIPANT_NOT_FOUND
        error:
          type: string
          description: Human-readable error message
          example: Participant not found in room
    RemoveParticipantRequest:
      type: object
      description: |-
        Request body for removing a participant from a LiveKit room

        # Example
        ```json
        {
          "room_name": "conversation-room-123",
          "participant_identity": "user-alice-456"
        }
        ```
      required:
      - room_name
      - participant_identity
      properties:
        participant_identity:
          type: string
          description: The identity of the participant to remove
          example: user-alice-456
        room_name:
          type: string
          description: The LiveKit room name where the participant is connected
          example: conversation-room-123
    RemoveParticipantResponse:
      type: object
      description: |-
        Response for a successful participant removal

        # Example
        ```json
        {
          "status": "removed",
          "room_name": "project1_conversation-room-123",
          "participant_identity": "user-alice-456"
        }
        ```
      required:
      - status
      - room_name
      - participant_identity
      properties:
        participant_identity:
          type: string
          description: The identity of the removed participant
          example: user-alice-456
        room_name:
          type: string
          description: The normalized room name (with tenant prefix)
          example: project1_conversation-room-123
        status:
          type: string
          description: Status of the removal operation
          example: removed
    RoomDetailsResponse:
      type: object
      description: |-
        Detailed information about a LiveKit room including participants

        # Example
        ```json
        {
          "sid": "RM_xyz789",
          "name": "project1_conversation-room-123",
          "num_participants": 2,
          "max_participants": 10,
          "creation_time": 1703123456,
          "metadata": "",
          "active_recording": false,
          "participants": [...]
        }
        ```
      required:
      - sid
      - name
      - num_participants
      - max_participants
      - creation_time
      - metadata
      - active_recording
      - participants
      properties:
        active_recording:
          type: boolean
          description: Whether a recording is currently active
          example: false
        creation_time:
          type: integer
          format: int64
          description: Room creation time (Unix timestamp in seconds)
          example: 1703123456
        max_participants:
          type: integer
          format: int32
          description: Maximum allowed participants (0 = no limit)
          example: 10
          minimum: 0
        metadata:
          type: string
          description: User-specified metadata for the room
          example: ''
        name:
          type: string
          description: The full room name (includes tenant prefix)
          example: project1_conversation-room-123
        num_participants:
          type: integer
          format: int32
          description: Number of current participants in the room
          example: 2
          minimum: 0
        participants:
          type: array
          items:
            $ref: '#/components/schemas/ParticipantInfo'
          description: List of participants currently in the room
        sid:
          type: string
          description: Unique session ID for the room (generated by LiveKit)
          example: RM_xyz789
    RoomInfo:
      type: object
      description: |-
        Information about a LiveKit room

        # Example
        ```json
        {
          "name": "project1_conversation-room-123",
          "num_participants": 2,
          "creation_time": 1703123456
        }
        ```
      required:
      - name
      - num_participants
      - creation_time
      properties:
        creation_time:
          type: integer
          format: int64
          description: Room creation time (Unix timestamp in seconds)
          example: 1703123456
        name:
          type: string
          description: The full room name (includes tenant prefix)
          example: project1_conversation-room-123
        num_participants:
          type: integer
          format: int32
          description: Number of current participants in the room
          example: 2
          minimum: 0
    RoutingMode:
      type: string
      description: |-
        S2 (REALTIME_REASONING.md §5): when a `reasoning_model` is configured, how to
        route each turn between the fast `model` and the slow reasoning tier.
      enum:
      - auto
      - always
    SIPTransferErrorResponse:
      type: object
      description: |-
        Error response for SIP transfer failures

        # Example
        ```json
        {
          "error": "Participant 'sip_123' not found or is not a SIP participant",
          "code": "PARTICIPANT_NOT_FOUND"
        }
        ```
      required:
      - error
      - code
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: PARTICIPANT_NOT_FOUND
        error:
          type: string
          description: Human-readable error message
          example: Participant not found or is not a SIP participant
    SIPTransferRequest:
      type: object
      description: |-
        Request body for initiating a SIP call transfer

        # Example
        ```json
        {
          "room_name": "call-room-123",
          "participant_identity": "sip_participant_456",
          "transfer_to": "+15551234567"
        }
        ```
      required:
      - room_name
      - participant_identity
      - transfer_to
      properties:
        participant_identity:
          type: string
          description: |-
            The identity of the SIP participant to transfer.
            This can be obtained by listing participants in the room via LiveKit API.
          example: sip_participant_456
        room_name:
          type: string
          description: The LiveKit room name where the SIP participant is connected
          example: call-room-123
        transfer_to:
          type: string
          description: |-
            The phone number to transfer the call to.
            Supports international format (+1234567890), national format (07123456789),
            or internal extensions (1234).
          example: '+15551234567'
    SIPTransferResponse:
      type: object
      description: |-
        Response for a successful SIP transfer initiation

        Note: A successful response indicates the transfer has been initiated,
        not that it has completed. The actual transfer may take several seconds.

        # Example
        ```json
        {
          "status": "initiated",
          "room_name": "call-room-123",
          "participant_identity": "sip_participant_456",
          "transfer_to": "tel:+15551234567"
        }
        ```
      required:
      - status
      - room_name
      - participant_identity
      - transfer_to
      properties:
        participant_identity:
          type: string
          description: The identity of the participant being transferred
          example: sip_participant_456
        room_name:
          type: string
          description: The room name where the transfer was initiated
          example: call-room-123
        status:
          type: string
          description: Status of the transfer request ("initiated" or "completed")
          example: initiated
        transfer_to:
          type: string
          description: 'The normalized phone number with tel: prefix'
          example: tel:+15551234567
    STTWebSocketConfig:
      type: object
      description: STT configuration for WebSocket messages (with optional API key)
      required:
      - provider
      - language
      - sample_rate
      - channels
      - punctuation
      properties:
        api_key:
          type:
          - string
          - 'null'
          description: Optional API key for this provider (overrides server config)
        channels:
          type: integer
          format: int32
          description: Number of audio channels (1 for mono, 2 for stereo)
          example: 1
          minimum: 0
        encoding:
          type: string
          description: Encoding of the audio. Optional — defaults to `linear16` (16-bit PCM) when omitted.
          example: linear16
        extras:
          $ref: '#/components/schemas/ProviderExtras'
          description: Open, typed passthrough for provider-specific parameters not modeled by `features`.
        features:
          $ref: '#/components/schemas/SttFeatures'
          description: |-
            Canonical, provider-agnostic advanced STT features (diarization, keyterms, redaction,
            vad_events, …). Defaults to all-unset so existing clients are unaffected; carried across the
            dispatch boundary via [`Self::to_standard_stt`] so providers with a `from_standard` mapping
            (Deepgram first) honor them END-TO-END (W1 keystone, closing BRUTAL_REVIEW.md S1).
        language:
          type: string
          description: Language code for transcription (e.g., "en-US", "es-ES")
          example: en-US
        model:
          type: string
          description: |-
            Model to use for transcription. Optional — defaults to empty, letting the provider pick its
            own default model (each provider maps an empty model to its recommended default).
          example: nova-2
        provider:
          type: string
          description: Provider name (e.g., "deepgram")
          example: deepgram
        punctuation:
          type: boolean
          description: Enable punctuation in results
          example: true
        sample_rate:
          type: integer
          format: int32
          description: Sample rate of the audio in Hz
          example: 16000
          minimum: 0
        turn_detection:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/TurnDetectionWsConfig'
            description: |-
              ML turn detection for this session (P1.2): runs the audio-based
              smart-turn detector on the live frame path so end-of-turn is PREDICTED
              instead of waiting out the provider's silence endpointing. Standardized
              — provider-agnostic, applies to every STT provider. Requires a build
              with the `smart-turn`/`silero-vad` features; otherwise the session
              degrades LOUDLY (warn + waav_degraded_total) to timer fallback.
    SipHookEntry:
      type: object
      description: A single SIP hook entry.
      required:
      - host
      - url
      properties:
        host:
          type: string
          description: Host pattern for matching SIP domains (case-insensitive)
          example: example.com
        url:
          type: string
          description: HTTPS URL to forward webhook events to
          example: https://webhook.example.com/events
    SipHooksErrorResponse:
      type: object
      description: Error response for SIP hooks operations.
      required:
      - error
      properties:
        error:
          type: string
          description: Error message describing what went wrong
          example: 'Duplicate host detected: example.com'
    SipHooksRequest:
      type: object
      description: |-
        Request body for updating SIP hooks.

        Contains a list of SIP webhook configurations to add or replace.
      properties:
        hooks:
          type: array
          items:
            $ref: '#/components/schemas/SipHookEntry'
          description: |-
            List of SIP hooks to add or replace.
            Hooks with matching hosts (case-insensitive) will be replaced.
    SipHooksResponse:
      type: object
      description: Response body for SIP hooks operations.
      required:
      - hooks
      properties:
        hooks:
          type: array
          items:
            $ref: '#/components/schemas/SipHookEntry'
          description: List of all configured SIP hooks
    SpeakRequest:
      type: object
      description: Request body for the speak endpoint
      required:
      - text
      - tts_config
      properties:
        text:
          type: string
          description: The text to synthesize
          example: Hello, world!
        tts_config:
          $ref: '#/components/schemas/TTSWebSocketConfig'
          description: TTS configuration (without API key)
    SttFeatures:
      type: object
      description: |-
        Canonical, provider-agnostic advanced STT features. Every field is `Option`, so `None`
        means "don't request / use the provider default" and adding fields stays backward compatible.
      properties:
        alternatives:
          type:
          - integer
          - 'null'
          format: int32
          description: |-
            Number of N-best alternative hypotheses to return (Deepgram / Google `alternatives` /
            `maxAlternatives`).
          minimum: 0
        diarization:
          type:
          - boolean
          - 'null'
          description: Speaker diarization (who-spoke-when).
        endpointing_ms:
          type:
          - integer
          - 'null'
          format: int32
          description: Silence (ms) after speech before finalizing an utterance.
          minimum: 0
        entity_detection:
          type:
          - boolean
          - 'null'
          description: Named-entity detection.
        filler_words:
          type:
          - boolean
          - 'null'
          description: Include filler words ("uh", "um") rather than dropping them.
        interim_results:
          type:
          - boolean
          - 'null'
          description: Emit interim (non-final) hypotheses as they are recognized.
        keyterms:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Key terms / phrases to boost (canonical; maps to keyterm / keywords / phrase hints).
        language_detection:
          type:
          - boolean
          - 'null'
          description: Automatic spoken-language detection.
        multichannel:
          type:
          - boolean
          - 'null'
          description: |-
            Transcribe each audio channel independently, with per-channel speakers
            (Deepgram / AssemblyAI `multichannel`).
        numerals:
          type:
          - boolean
          - 'null'
          description: Convert spoken numbers to digits / numeric formatting (Deepgram `numerals`).
        profanity_filter:
          type:
          - boolean
          - 'null'
          description: Profanity filtering / masking.
        redaction:
          type:
          - array
          - 'null'
          items:
            type: string
          description: PII/PHI categories to redact (canonical category names).
        sentiment:
          type:
          - boolean
          - 'null'
          description: Per-utterance sentiment analysis (Deepgram / AssemblyAI `sentiment`).
        smart_format:
          type:
          - boolean
          - 'null'
          description: Provider "smart formatting" (dates, numbers, etc.).
        speech_begin_event:
          type:
          - boolean
          - 'null'
          description: |-
            Emit a discrete "speech started" event when the recognizer first detects speech
            (IBM Watson `speech_begin_event`). Distinct from `vad_events` (which is the canonical
            flag for continuous voice-activity/endpointing events): this requests the single
            begin-of-speech marker IBM emits as a `speaker_begin`/`speech_begin` notification.
        utterance_end_ms:
          type:
          - integer
          - 'null'
          format: int32
          description: Idle (ms) before emitting an utterance-end event.
          minimum: 0
        vad_events:
          type:
          - boolean
          - 'null'
          description: Emit explicit voice-activity / endpointing events.
        word_timestamps:
          type:
          - boolean
          - 'null'
          description: Per-word start/end timestamps.
    TTSWebSocketConfig:
      type: object
      description: TTS configuration for WebSocket messages (with optional API key)
      required:
      - provider
      - model
      properties:
        api_key:
          type:
          - string
          - 'null'
          description: Optional API key for this provider (overrides server config)
        audio_format:
          type:
          - string
          - 'null'
          description: Audio format preference
          example: linear16
        audio_out_chunk_ms:
          type:
          - integer
          - 'null'
          format: int32
          description: |-
            WS egress re-framing (E-G2): when set, PCM TTS audio is sliced into
            chunks of this many milliseconds before the WebSocket send, so a
            barge-in clear truncates within ONE chunk instead of letting a whole
            synthesis frame play out client-side. Omitted = verbatim frames
            (legacy). LiveKit egress already frames at 10ms internally.
          example: 20
          minimum: 0
        client_playback_rate:
          type:
          - integer
          - 'null'
          format: int32
          description: |-
            Client playback rate (C-G5): when set, the gateway resamples PCM TTS
            egress from the provider's rate to THIS rate before delivery (WS
            binary and LiveKit), so clients with a fixed-rate audio sink never
            resample provider-side or client-side. Identity (provider already at
            this rate) is zero-cost; non-PCM formats pass through unchanged.
          example: 48000
          minimum: 0
        connection_timeout:
          type:
          - integer
          - 'null'
          format: int64
          description: Connection timeout in seconds
          example: 30
          minimum: 0
        delivery_style:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/DeliveryStyle'
            description: |-
              Delivery style modifier for speech.

              Affects pacing and prosody independently of emotion.
              Examples: "whispered", "shouted", "rushed", "measured", "expressive"
        emotion:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Emotion'
            description: |-
              Emotion to express in speech synthesis.

              Supported by: Hume AI (all), ElevenLabs (core set), Azure (SSML styles).
              Providers without emotion support will synthesize speech normally with a warning.

              Examples: "happy", "sad", "angry", "excited", "calm", "sarcastic"
        emotion_description:
          type:
          - string
          - 'null'
          description: |-
            Free-form emotion description (for providers like Hume AI).

            When provided, this takes precedence over the `emotion` field for Hume AI.
            Maximum 100 characters.

            Examples: "warm, friendly, inviting", "whispered fearfully", "sarcastic, dry"
          example: warm, friendly, inviting
        emotion_intensity:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/EmotionIntensity'
            description: |-
              Intensity of the emotion (0.0 to 1.0, or "low"/"medium"/"high").

              - 0.0-0.3: Subtle expression
              - 0.4-0.7: Moderate expression (default: 0.6)
              - 0.8-1.0: Strong expression

              Alternatively, use named levels: "low" (0.3), "medium" (0.6), "high" (1.0)
        extras:
          $ref: '#/components/schemas/ProviderExtras'
          description: Open, typed passthrough for provider-specific parameters not modeled by `features`.
        features:
          $ref: '#/components/schemas/TtsFeatures'
          description: |-
            Canonical, provider-agnostic advanced TTS features (voice settings, instructions, SSML,
            streaming, …). Defaults to all-unset so existing clients are unaffected; carried across the
            dispatch boundary via [`Self::to_standard_tts`] so providers with a `from_standard` mapping
            (Deepgram first) honor them END-TO-END (W1 keystone, closing BRUTAL_REVIEW.md S1/S5).
        model:
          type: string
          description: Model to use for TTS
          example: aura-asteria-en
        pronunciations:
          type: array
          items:
            $ref: '#/components/schemas/Pronunciation'
          description: Pronunciation replacements to apply before TTS
        provider:
          type: string
          description: Provider name (e.g., "deepgram", "hume", "elevenlabs")
          example: deepgram
        request_timeout:
          type:
          - integer
          - 'null'
          format: int64
          description: Request timeout in seconds
          example: 60
          minimum: 0
        sample_rate:
          type:
          - integer
          - 'null'
          format: int32
          description: Sample rate preference
          example: 24000
          minimum: 0
        speaking_rate:
          type:
          - number
          - 'null'
          format: float
          description: Speaking rate (0.25 to 4.0, 1.0 is normal)
          example: 1.0
        voice_id:
          type:
          - string
          - 'null'
          description: Voice ID or name to use for synthesis
          example: aura-asteria-en
    TokenRequest:
      type: object
      description: |-
        Request body for generating a LiveKit token

        # Example
        ```json
        {
          "room_name": "conversation-room-123",
          "participant_name": "Alice Smith",
          "participant_identity": "user-alice-456"
        }
        ```
      required:
      - room_name
      - participant_name
      - participant_identity
      properties:
        participant_identity:
          type: string
          description: Unique identifier for the participant (e.g., "user-123")
          example: user-alice-456
        participant_name:
          type: string
          description: Display name for the participant (e.g., "John Doe")
          example: Alice Smith
        room_name:
          type: string
          description: The LiveKit room name to generate a token for
          example: conversation-room-123
    TokenResponse:
      type: object
      description: |-
        Response containing the generated LiveKit token

        # Example
        ```json
        {
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
          "room_name": "conversation-room-123",
          "participant_identity": "user-alice-456",
          "livekit_url": "ws://localhost:7880"
        }
        ```
      required:
      - token
      - room_name
      - participant_identity
      - livekit_url
      properties:
        livekit_url:
          type: string
          description: The LiveKit server URL to connect to
          example: ws://localhost:7880
        participant_identity:
          type: string
          description: Echo back the participant identity for client confirmation
          example: user-alice-456
        room_name:
          type: string
          description: Echo back the room name for client confirmation
          example: conversation-room-123
        token:
          type: string
          description: The generated JWT token for LiveKit
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    TtsFeatures:
      type: object
      description: Canonical, provider-agnostic advanced TTS features. Every field is `Option`.
      properties:
        emotion:
          type:
          - string
          - 'null'
          description: Emotion / delivery (e.g. "happy", "cheerful"); maps to provider emotion controls.
        include_timestamp_types:
          type:
          - array
          - 'null'
          items:
            type: string
          description: |-
            Request specific timestamp granularities in the response (Hume `include_timestamp_types`:
            `"word"` and/or `"phoneme"`). Canonical superset of the boolean `word_timestamps` flag for
            providers that expose per-type timestamp selection. Pure metadata request: does NOT change
            the synthesized audio (so providers must NOT fold it into the audio cache key).
        instructions:
          type:
          - string
          - 'null'
          description: Free-form delivery instructions (OpenAI gpt-4o-mini-tts `instructions`, Hume `description`).
        language:
          type:
          - string
          - 'null'
          description: Synthesis language override.
        optimize_streaming_latency:
          type:
          - integer
          - 'null'
          format: int32
          description: |-
            Streaming latency-optimization tier 0-4, trading quality for lower TTFB
            (ElevenLabs `optimize_streaming_latency`).
          minimum: 0
        pitch:
          type:
          - number
          - 'null'
          format: float
          description: Pitch adjustment.
        pitch_percentage:
          type:
          - integer
          - 'null'
          format: int32
          description: |-
            Pitch adjustment as a signed percentage delta from the per-voice default
            (IBM Watson `pitch_percentage`: 0 = normal, +50 = 50% higher, -50 = 50% lower).
            Distinct from the absolute [`pitch`](Self::pitch): this is the provider's native
            percentage-delta knob.
        rate_percentage:
          type:
          - integer
          - 'null'
          format: int32
          description: |-
            Speaking-rate adjustment as a signed percentage delta from the per-voice default
            (IBM Watson `rate_percentage`: 0 = normal, +50 = 50% faster, -50 = 50% slower).
            Distinct from the multiplicative [`speed`](Self::speed): this is the provider's native
            percentage-delta knob so the value reaches the wire 1:1 without a lossy multiplier round-trip.
        sample_rate:
          type:
          - integer
          - 'null'
          format: int32
          description: Output sample rate override.
          minimum: 0
        seed:
          type:
          - integer
          - 'null'
          format: int64
          description: Determinism seed where the provider supports it.
          minimum: 0
        similarity_boost:
          type:
          - number
          - 'null'
          format: float
          description: ElevenLabs-style similarity boost.
        speed:
          type:
          - number
          - 'null'
          format: float
          description: Speaking speed multiplier / level (provider-specific range).
        ssml:
          type:
          - boolean
          - 'null'
          description: Treat the input text as SSML (unlocks Azure `mstts:express-as`, etc.).
        stability:
          type:
          - number
          - 'null'
          format: float
          description: ElevenLabs-style voice stability.
        streaming:
          type:
          - boolean
          - 'null'
          description: Prefer the provider's streaming endpoint (lower TTFB).
        style:
          type:
          - number
          - 'null'
          format: float
          description: ElevenLabs-style style exaggeration.
        use_speaker_boost:
          type:
          - boolean
          - 'null'
          description: ElevenLabs-style speaker boost.
        volume:
          type:
          - number
          - 'null'
          format: float
          description: Volume / loudness adjustment.
        word_timestamps:
          type:
          - boolean
          - 'null'
          description: Request word-level timestamps in the response.
    TurnDetectionWsConfig:
      type: object
      description: Per-session ML turn-detection knobs (provider-agnostic).
      required:
      - enabled
      properties:
        eager:
          type: boolean
          description: |-
            Eager end-of-turn: on a turn-complete prediction, start the LLM
            speculatively (held + staged; see conversation_config.eager_eot which
            must also be enabled). Default false.
        enabled:
          type: boolean
          description: Master switch.
        threshold:
          type:
          - number
          - 'null'
          format: float
          description: Decision threshold (model-calibrated default when omitted).
    UnifiedMessage:
      type: object
      description: Unified message structure for all incoming messages from various sources
      required:
      - identity
      - topic
      - room
      - timestamp
      properties:
        data:
          type:
          - string
          - 'null'
          description: Binary data encoded as base64 (optional)
        identity:
          type: string
          description: Participant/sender identity
        message:
          type:
          - string
          - 'null'
          description: Text message content (optional)
        room:
          type: string
          description: Room/space identifier
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the message was received
          minimum: 0
        topic:
          type: string
          description: Topic/channel for the message
    Voice:
      type: object
      required:
      - id
      - sample
      - name
      - accent
      - gender
      - language
      properties:
        accent:
          type: string
          description: Accent or dialect
          example: American
        gender:
          type: string
          description: Gender of the voice
          example: Female
        id:
          type: string
          description: Voice ID or canonical name
          example: aura-asteria-en
        language:
          type: string
          description: Language supported by the voice
          example: English
        name:
          type: string
          description: Display name of the voice
          example: Asteria
        sample:
          type: string
          description: URL to sample audio
          example: https://example.com/sample.mp3
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from the authentication service. Required when AUTH_REQUIRED is enabled.
tags:
- name: health
  description: Health check endpoints
- name: voices
  description: TTS voice management
- name: tts
  description: Text-to-speech synthesis
- name: livekit
  description: LiveKit room and token management
- name: recordings
  description: Recording download operations
- name: sip
  description: SIP webhook configuration management
- name: websocket
  description: WebSocket API for real-time communication
